@import 'variables';

.request-list {

}

.request-card {
  &__timestamp {
    text-align: right;
    font-size: 0.8rem;
    color: #6e6e6e;
  }

  &__text {

  }

  &__values {
    &--row {
      display: flex;
      flex-direction: row;
    }

    &--title {
      flex: 1;
      font-weight: bold;
    }

    &--value {
      flex: 2;
    }
  }

  .card-footer {
    text-align: right;
  }
}
